*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(150deg, rgb(87, 85, 171), #ffffff);
    font-family: 'Arial', sans-serif;
}
#header h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 4rem 0 0.8rem 0;
    text-align: center;
}
#header p {
    font-size: 1.2rem;
    color: #000000;
    letter-spacing: 1px;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#coinForm {
    border: #333 1px solid;
    border-radius: 10px;
    padding: 2rem;
    background-color: #d5d4ea;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.1);
}
.content {
    margin: 1rem;
    padding: 0.5rem 0;
    color: #555;
}
.labelArea {
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.inputArea, .selectArea {
    width: 100%;
    padding: 1rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
}
.inputArea:focus, .selectArea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
#footer {
    
    padding: 3rem;
    color: #3a3737;
    font-size: 0.9rem;
}